---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro-imagetools/components";
---

<!-- Überall title und description mitgeben -->
<Layout title="404 Seite">
  <main id="404 Seite" class="mt-24 container mx-auto text-center">
    <h1>Seite nicht gefunden</h1>
    <div class="max-w-sm mt-8 m-auto">
      <Picture
        src="/src/images/404.png"
        alt="Marina Schmid Portrait"
        breakpoints={{ count: 8, minWidth: 340, maxWidth: 1350 }}
        sizes="438px"
      />
    </div>
  </main>
</Layout>
