---
import Layout from "../layouts/Layout.astro";
import "@fontsource/lora/600.css";
import Heading from "../components/Heading.astro";
---

<Layout title="Datenschutz">
  <main id="datenschutz" class="mt-24 container mx-auto legal break-words">
    <Heading heading="Datenschutzerklärung" />

    <h2 id="einleitung">Einleitung und Überblick</h2>
    <p>
      Wir haben diese Datenschutzerklärung (Fassung 25.10.2022-312262940) verfasst, um Ihnen gemäß der Vorgaben der <a
        href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&from=DE&tid=312262940#d1e2269-1-1"
        target="_blank"
        rel="noopener">Datenschutz-Grundverordnung (EU) 2016/679</a
      > und anwendbaren nationalen Gesetzen zu erklären, welche personenbezogenen Daten (kurz Daten) wir als Verantwortliche
      – und die von uns beauftragten Auftragsverarbeiter (z. B. Provider) – verarbeiten, zukünftig verarbeiten werden und
      welche rechtmäßigen Möglichkeiten Sie haben. Die verwendeten Begriffe sind geschlechtsneutral zu verstehen.<br />
      <strong>Kurz gesagt:</strong> Wir informieren Sie umfassend über Daten, die wir über Sie verarbeiten.
    </p>
    <p>
      Datenschutzerklärungen klingen für gewöhnlich sehr technisch und verwenden juristische Fachbegriffe. Diese
      Datenschutzerklärung soll Ihnen hingegen die wichtigsten Dinge so einfach und transparent wie möglich beschreiben.
      Soweit es der Transparenz förderlich ist, werden technische <strong>Begriffe leserfreundlich erklärt</strong>,
      Links zu weiterführenden Informationen geboten und <strong>Grafiken</strong> zum Einsatz gebracht. Wir informieren
      damit in klarer und einfacher Sprache, dass wir im Rahmen unserer Geschäftstätigkeiten nur dann personenbezogene Daten
      verarbeiten, wenn eine entsprechende gesetzliche Grundlage gegeben ist. Das ist sicher nicht möglich, wenn man möglichst
      knappe, unklare und juristisch-technische Erklärungen abgibt, so wie sie im Internet oft Standard sind, wenn es um
      Datenschutz geht. Ich hoffe, Sie finden die folgenden Erläuterungen interessant und informativ und vielleicht ist die
      eine oder andere Information dabei, die Sie noch nicht kannten.<br />
      Wenn trotzdem Fragen bleiben, möchten wir Sie bitten, sich an die unten bzw. im Impressum genannte verantwortliche
      Stelle zu wenden, den vorhandenen Links zu folgen und sich weitere Informationen auf Drittseiten anzusehen. Unsere
      Kontaktdaten finden Sie selbstverständlich auch im Impressum.
    </p>
    <h2 id="anwendungsbereich">Anwendungsbereich</h2>
    <p>
      Diese Datenschutzerklärung gilt für alle von uns im Unternehmen verarbeiteten personenbezogenen Daten und für alle
      personenbezogenen Daten, die von uns beauftragte Firmen (Auftragsverarbeiter) verarbeiten. Mit personenbezogenen
      Daten meinen wir Informationen im Sinne des Art. 4 Nr. 1 DSGVO wie zum Beispiel Name, E-Mail-Adresse und
      postalische Anschrift einer Person. Die Verarbeitung personenbezogener Daten sorgt dafür, dass wir unsere
      Dienstleistungen und Produkte anbieten und abrechnen können, sei es online oder offline. Der Anwendungsbereich
      dieser Datenschutzerklärung umfasst:
    </p>
    <ul>
      <li>alle Onlineauftritte (Websites, Onlineshops), die wir betreiben</li>
      <li>Social Media Auftritte und E-Mail-Kommunikation</li>
      <li>mobile Apps für Smartphones und andere Geräte</li>
    </ul>
    <p>
      <strong>Kurz gesagt:</strong> Die Datenschutzerklärung gilt für alle Bereiche, in denen personenbezogene Daten im Unternehmen
      über die genannten Kanäle strukturiert verarbeitet werden. Sollten wir außerhalb dieser Kanäle mit Ihnen in Rechtsbeziehungen
      eintreten, werden wir Sie gegebenenfalls gesondert informieren.
    </p>
    <h2 id="rechtsgrundlagen">Rechtsgrundlagen</h2>
    <p>
      In der folgenden Datenschutzerklärung geben wir Ihnen transparente Informationen zu den rechtlichen Grundsätzen
      und Vorschriften, also den Rechtsgrundlagen der Datenschutz-Grundverordnung, die uns ermöglichen, personenbezogene
      Daten zu verarbeiten.<br />
      Was das EU-Recht betrifft, beziehen wir uns auf die VERORDNUNG (EU) 2016/679 DES EUROPÄISCHEN PARLAMENTS UND DES RATES
      vom 27. April 2016. Diese Datenschutz-Grundverordnung der EU können Sie selbstverständlich online auf EUR-Lex, dem
      Zugang zum EU-Recht, unter <a href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679"
        >https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679</a
      > nachlesen.
    </p>
    <p>Wir verarbeiten Ihre Daten nur, wenn mindestens eine der folgenden Bedingungen zutrifft:</p>
    <ol>
      <li>
        <strong>Einwilligung</strong> (Artikel 6 Absatz 1 lit. a DSGVO): Sie haben uns Ihre Einwilligung gegeben, Daten zu
        einem bestimmten Zweck zu verarbeiten. Ein Beispiel wäre die Speicherung Ihrer eingegebenen Daten eines Kontaktformulars.
      </li>
      <li>
        <strong>Vertrag</strong> (Artikel 6 Absatz 1 lit. b DSGVO): Um einen Vertrag oder vorvertragliche Verpflichtungen
        mit Ihnen zu erfüllen, verarbeiten wir Ihre Daten. Wenn wir zum Beispiel einen Kaufvertrag mit Ihnen abschließen,
        benötigen wir vorab personenbezogene Informationen.
      </li>
      <li>
        <strong>Rechtliche Verpflichtung</strong> (Artikel 6 Absatz 1 lit. c DSGVO): Wenn wir einer rechtlichen Verpflichtung
        unterliegen, verarbeiten wir Ihre Daten. Zum Beispiel sind wir gesetzlich verpflichtet Rechnungen für die Buchhaltung
        aufzuheben. Diese enthalten in der Regel personenbezogene Daten.
      </li>
      <li>
        <strong>Berechtigte Interessen</strong> (Artikel 6 Absatz 1 lit. f DSGVO): Im Falle berechtigter Interessen, die
        Ihre Grundrechte nicht einschränken, behalten wir uns die Verarbeitung personenbezogener Daten vor. Wir müssen zum
        Beispiel gewisse Daten verarbeiten, um unsere Website sicher und wirtschaftlich effizient betreiben zu können. Diese
        Verarbeitung ist somit ein berechtigtes Interesse.
      </li>
    </ol>
    <p>
      Weitere Bedingungen wie die Wahrnehmung von Aufnahmen im öffentlichen Interesse und Ausübung öffentlicher Gewalt
      sowie dem Schutz lebenswichtiger Interessen treten bei uns in der Regel nicht auf. Soweit eine solche
      Rechtsgrundlage doch einschlägig sein sollte, wird diese an der entsprechenden Stelle ausgewiesen.
    </p>
    <p>Zusätzlich zu der EU-Verordnung gelten auch noch nationale Gesetze:</p>
    <ul>
      <li>
        In <strong>Österreich</strong> ist dies das Bundesgesetz zum Schutz natürlicher Personen bei der Verarbeitung personenbezogener
        Daten (<strong>Datenschutzgesetz</strong>), kurz <strong>DSG</strong>.
      </li>
      <li>
        In <strong>Deutschland</strong> gilt das <strong>Bundesdatenschutzgesetz</strong>, kurz<strong> BDSG</strong>.
      </li>
    </ul>
    <p>
      Sofern weitere regionale oder nationale Gesetze zur Anwendung kommen, informieren wir Sie in den folgenden
      Abschnitten darüber.
    </p>
    <h2 id="kontaktdaten-verantwortliche">Kontaktdaten des Verantwortlichen</h2>
    <p>
      Sollten Sie Fragen zum Datenschutz oder zur Verarbeitung personenbezogener Daten haben, finden Sie nachfolgend die
      Kontaktdaten der verantwortlichen Person bzw. Stelle:<br />
      <span style="font-weight: 400"
        >Uli Schmid und Marina Schmid GbR<br />
        Marina Schmid<br />
        Langwandstr. 6<br />
        86971 Peiting</span
      >
    </p>
    <p>
      E-Mail: <a href="mailto:hallo@marina-schmid.com">hallo@marina-schmid.com</a><br />
      Telefon: <a href="tel:+49 162 757 27 52">+49 162 757 27 52</a><br />
      Impressum: <a href="https://www.marina-schmid.com/impressum/">https://www.marina-schmid.com/impressum/</a>
    </p>
    <h2 id="speicherdauer">Speicherdauer</h2>
    <p>
      Dass wir personenbezogene Daten nur so lange speichern, wie es für die Bereitstellung unserer Dienstleistungen und
      Produkte unbedingt notwendig ist, gilt als generelles Kriterium bei uns. Das bedeutet, dass wir personenbezogene
      Daten löschen, sobald der Grund für die Datenverarbeitung nicht mehr vorhanden ist. In einigen Fällen sind wir
      gesetzlich dazu verpflichtet, bestimmte Daten auch nach Wegfall des ursprüngliches Zwecks zu speichern, zum
      Beispiel zu Zwecken der Buchführung.
    </p>
    <p>
      Sollten Sie die Löschung Ihrer Daten wünschen oder die Einwilligung zur Datenverarbeitung widerrufen, werden die
      Daten so rasch wie möglich und soweit keine Pflicht zur Speicherung besteht, gelöscht.
    </p>
    <p>
      Über die konkrete Dauer der jeweiligen Datenverarbeitung informieren wir Sie weiter unten, sofern wir weitere
      Informationen dazu haben.
    </p>
    <h2 id="rechte-dsgvo">Rechte laut Datenschutz-Grundverordnung</h2>
    <p>
      Gemäß Artikel 13, 14 DSGVO informieren wir Sie über die folgenden Rechte, die Ihnen zustehen, damit es zu einer
      fairen und transparenten Verarbeitung von Daten kommt:
    </p>
    <ul>
      <li>
        Sie haben laut Artikel 15 DSGVO ein Auskunftsrecht darüber, ob wir Daten von Ihnen verarbeiten. Sollte das
        zutreffen, haben Sie Recht darauf eine Kopie der Daten zu erhalten und die folgenden Informationen zu erfahren:
        <ul>
          <li>zu welchem Zweck wir die Verarbeitung durchführen;</li>
          <li>die Kategorien, also die Arten von Daten, die verarbeitet werden;</li>
          <li>
            wer diese Daten erhält und wenn die Daten an Drittländer übermittelt werden, wie die Sicherheit garantiert
            werden kann;
          </li>
          <li>wie lange die Daten gespeichert werden;</li>
          <li>
            das Bestehen des Rechts auf Berichtigung, Löschung oder Einschränkung der Verarbeitung und dem
            Widerspruchsrecht gegen die Verarbeitung;
          </li>
          <li>
            dass Sie sich bei einer Aufsichtsbehörde beschweren können (Links zu diesen Behörden finden Sie weiter
            unten);
          </li>
          <li>die Herkunft der Daten, wenn wir sie nicht bei Ihnen erhoben haben;</li>
          <li>
            ob Profiling durchgeführt wird, ob also Daten automatisch ausgewertet werden, um zu einem persönlichen
            Profil von Ihnen zu gelangen.
          </li>
        </ul>
      </li>
      <li>
        Sie haben laut Artikel 16 DSGVO ein Recht auf Berichtigung der Daten, was bedeutet, dass wir Daten richtig
        stellen müssen, falls Sie Fehler finden.
      </li>
      <li>
        Sie haben laut Artikel 17 DSGVO das Recht auf Löschung („Recht auf Vergessenwerden“), was konkret bedeutet, dass
        Sie die Löschung Ihrer Daten verlangen dürfen.
      </li>
      <li>
        Sie haben laut Artikel 18 DSGVO das Recht auf Einschränkung der Verarbeitung, was bedeutet, dass wir die Daten
        nur mehr speichern dürfen aber nicht weiter verwenden.
      </li>
      <li>
        Sie haben laut Artikel 20 DSGVO das Recht auf Datenübertragbarkeit, was bedeutet, dass wir Ihnen auf Anfrage
        Ihre Daten in einem gängigen Format zur Verfügung stellen.
      </li>
      <li>
        Sie haben laut Artikel 21 DSGVO ein Widerspruchsrecht, welches nach Durchsetzung eine Änderung der Verarbeitung
        mit sich bringt.
        <ul>
          <li>
            Wenn die Verarbeitung Ihrer Daten auf Artikel 6 Abs. 1 lit. e (öffentliches Interesse, Ausübung öffentlicher
            Gewalt) oder Artikel 6 Abs. 1 lit. f (berechtigtes Interesse) basiert, können Sie gegen die Verarbeitung
            Widerspruch einlegen. Wir prüfen danach so rasch wie möglich, ob wir diesem Widerspruch rechtlich nachkommen
            können.
          </li>
          <li>
            Werden Daten verwendet, um Direktwerbung zu betreiben, können Sie jederzeit gegen diese Art der
            Datenverarbeitung widersprechen. Wir dürfen Ihre Daten danach nicht mehr für Direktmarketing verwenden.
          </li>
          <li>
            Werden Daten verwendet, um Profiling zu betreiben, können Sie jederzeit gegen diese Art der
            Datenverarbeitung widersprechen. Wir dürfen Ihre Daten danach nicht mehr für Profiling verwenden.
          </li>
        </ul>
      </li>
      <li>
        Sie haben laut Artikel 22 DSGVO unter Umständen das Recht, nicht einer ausschließlich auf einer automatisierten
        Verarbeitung (zum Beispiel Profiling) beruhenden Entscheidung unterworfen zu werden.
      </li>
      <li>
        Sie haben laut Artikel 77 DSGVO das Recht auf Beschwerde. Das heißt, Sie können sich jederzeit bei der
        Datenschutzbehörde beschweren, wenn Sie der Meinung sind, dass die Datenverarbeitung von personenbezogenen Daten
        gegen die DSGVO verstößt.
      </li>
    </ul>
    <p>
      <strong>Kurz gesagt:</strong> Sie haben Rechte – zögern Sie nicht, die oben gelistete verantwortliche Stelle bei uns
      zu kontaktieren!
    </p>
    <p>
      Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
      datenschutzrechtlichen Ansprüche in sonst einer Weise verletzt worden sind, können Sie sich bei der
      Aufsichtsbehörde beschweren. Diese ist für Österreich die Datenschutzbehörde, deren Website Sie unter <a
        href="https://www.dsb.gv.at/?tid=312262940"
        target="_blank"
        rel="noopener">https://www.dsb.gv.at/</a
      > finden. In Deutschland gibt es für jedes Bundesland einen Datenschutzbeauftragten. Für nähere Informationen können
      Sie sich an die <a href="https://www.bfdi.bund.de/DE/Home/home_node.html" target="_blank" rel="noopener"
        >Bundesbeauftragte für den Datenschutz und die Informationsfreiheit (BfDI)</a
      > wenden. Für unser Unternehmen ist die folgende lokale Datenschutzbehörde zuständig:
    </p>
    <h2 id="bayern-datenschutzbehoerde">Bayern Datenschutzbehörde</h2>
    <p>
      <strong>Landesbeauftragter für Datenschutz:</strong> Prof. Dr. Thomas Petri<br />
      <strong>Adresse:</strong> Wagmüllerstr. 18, 80538 München<br />
      <strong>Telefonnr.:</strong> 089/21 26 72-0<br />
      <strong>E-Mail-Adresse:</strong> poststelle@datenschutz-bayern.de<br />
      <strong>Website:</strong><a href="https://www.datenschutz-bayern.de/?tid=312262940" target="_blank" rel="noopener"
        >https://www.datenschutz-bayern.de/</a
      >
    </p>
    <h2 id="sicherheit-datenverarbeitung">Sicherheit der Datenverarbeitung</h2>
    <p>
      Um personenbezogene Daten zu schützen, haben wir sowohl technische als auch organisatorische Maßnahmen umgesetzt.
      Wo es uns möglich ist, verschlüsseln oder pseudonymisieren wir personenbezogene Daten. Dadurch machen wir es im
      Rahmen unserer Möglichkeiten so schwer wie möglich, dass Dritte aus unseren Daten auf persönliche Informationen
      schließen können.
    </p>
    <p>
      Art. 25 DSGVO spricht hier von “Datenschutz durch Technikgestaltung und durch datenschutzfreundliche
      Voreinstellungen” und meint damit, dass man sowohl bei Software (z. B. Formularen) also auch Hardware (z. B.
      Zugang zum Serverraum) immer an Sicherheit denkt und entsprechende Maßnahmen setzt. Im Folgenden gehen wir, falls
      erforderlich, noch auf konkrete Maßnahmen ein.
    </p>
    <h2 id="tls-verschluesselung-https">TLS-Verschlüsselung mit https</h2>
    <p>
      TLS, Verschlüsselung und https klingen sehr technisch und sind es auch. Wir verwenden HTTPS (das Hypertext
      Transfer Protocol Secure steht für „sicheres Hypertext-Übertragungsprotokoll“), um Daten abhörsicher im Internet
      zu übertragen.<br />
      Das bedeutet, dass die komplette Übertragung aller Daten von Ihrem Browser zu unserem Webserver abgesichert ist – niemand
      kann “mithören”.
    </p>
    <p>
      Damit haben wir eine zusätzliche Sicherheitsschicht eingeführt und erfüllen den Datenschutz durch
      Technikgestaltung (<a
        href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&from=DE&tid=312262940"
        target="_blank"
        rel="noopener">Artikel 25 Absatz 1 DSGVO</a
      >). Durch den Einsatz von TLS (Transport Layer Security), einem Verschlüsselungsprotokoll zur sicheren
      Datenübertragung im Internet, können wir den Schutz vertraulicher Daten sicherstellen.<br />
      Sie erkennen die Benutzung dieser Absicherung der Datenübertragung am kleinen Schlosssymbol <img
        role="img"
        src="https://www.adsimple.at/wp-content/uploads/2018/03/schlosssymbol-https.svg"
        width="17"
        height="18"
      /> links oben im Browser, links von der Internetadresse (z. B. beispielseite.de) und der Verwendung des Schemas https
      (anstatt http) als Teil unserer Internetadresse.<br />
      Wenn Sie mehr zum Thema Verschlüsselung wissen möchten, empfehlen wir die Google Suche nach “Hypertext Transfer Protocol
      Secure wiki” um gute Links zu weiterführenden Informationen zu erhalten.
    </p>
    <h2 id="kommunikation">Kommunikation</h2>
    <table>
      <tbody>
        <tr>
          <td
            ><strong>Kommunikation Zusammenfassung</strong><br />
            👥 Betroffene: Alle, die mit uns per Telefon, E-Mail oder Online-Formular kommunizieren<br />
            📓 Verarbeitete Daten: z. B. Telefonnummer, Name, E-Mail-Adresse, eingegebene Formulardaten. Mehr Details dazu
            finden Sie bei der jeweils eingesetzten Kontaktart<br />
            🤝 Zweck: Abwicklung der Kommunikation mit Kunden, Geschäftspartnern usw.<br />
            📅 Speicherdauer: Dauer des Geschäftsfalls und der gesetzlichen Vorschriften<br />
            ⚖️ Rechtsgrundlagen: Art. 6 Abs. 1 lit. a DSGVO (Einwilligung), Art. 6 Abs. 1 lit. b DSGVO (Vertrag), Art. 6
            Abs. 1 lit. f DSGVO (Berechtigte Interessen)</td
          >
        </tr>
      </tbody>
    </table>
    <p>
      Wenn Sie mit uns Kontakt aufnehmen und per Telefon, E-Mail oder Online-Formular kommunizieren, kann es zur
      Verarbeitung personenbezogener Daten kommen.
    </p>
    <p>
      Die Daten werden für die Abwicklung und Bearbeitung Ihrer Frage und des damit zusammenhängenden Geschäftsvorgangs
      verarbeitet. Die Daten während eben solange gespeichert bzw. solange es das Gesetz vorschreibt.
    </p>
    <h3>Betroffene Personen</h3>
    <p>
      Von den genannten Vorgängen sind alle betroffen, die über die von uns bereit gestellten Kommunikationswege den
      Kontakt zu uns suchen.
    </p>
    <h3>Telefon</h3>
    <p>
      Wenn Sie uns anrufen, werden die Anrufdaten auf dem jeweiligen Endgerät und beim eingesetzten
      Telekommunikationsanbieter pseudonymisiert gespeichert. Außerdem können Daten wie Name und Telefonnummer im
      Anschluss per E-Mail versendet und zur Anfragebeantwortung gespeichert werden. Die Daten werden gelöscht, sobald
      der Geschäftsfall beendet wurde und es gesetzliche Vorgaben erlauben.
    </p>
    <h3>E-Mail</h3>
    <p>
      Wenn Sie mit uns per E-Mail kommunizieren, werden Daten gegebenenfalls auf dem jeweiligen Endgerät (Computer,
      Laptop, Smartphone,…) gespeichert und es kommt zur Speicherung von Daten auf dem E-Mail-Server. Die Daten werden
      gelöscht, sobald der Geschäftsfall beendet wurde und es gesetzliche Vorgaben erlauben.
    </p>
    <h3>Online Formulare</h3>
    <p>
      Wenn Sie mit uns mittels Online-Formular kommunizieren, werden Daten auf unserem Webserver gespeichert und
      gegebenenfalls an eine E-Mail-Adresse von uns weitergeleitet. Die Daten werden gelöscht, sobald der Geschäftsfall
      beendet wurde und es gesetzliche Vorgaben erlauben.
    </p>
    <h3>Rechtsgrundlagen</h3>
    <p>Die Verarbeitung der Daten basiert auf den folgenden Rechtsgrundlagen:</p>
    <ul>
      <li>
        Art. 6 Abs. 1 lit. a DSGVO (Einwilligung): Sie geben uns die Einwilligung Ihre Daten zu speichern und weiter für
        den Geschäftsfall betreffende Zwecke zu verwenden;
      </li>
      <li>
        Art. 6 Abs. 1 lit. b DSGVO (Vertrag): Es besteht die Notwendigkeit für die Erfüllung eines Vertrags mit Ihnen
        oder einem Auftragsverarbeiter wie z. B. dem Telefonanbieter oder wir müssen die Daten für vorvertragliche
        Tätigkeiten, wie z. B. die Vorbereitung eines Angebots, verarbeiten;
      </li>
      <li>
        Art. 6 Abs. 1 lit. f DSGVO (Berechtigte Interessen): Wir wollen Kundenanfragen und geschäftliche Kommunikation
        in einem professionellen Rahmen betreiben. Dazu sind gewisse technische Einrichtungen wie z. B.
        E-Mail-Programme, Exchange-Server und Mobilfunkbetreiber notwendig, um die Kommunikation effizient betreiben zu
        können.
      </li>
    </ul>
    <h2 id="webhosting-einleitung">Webhosting Einleitung</h2>
    <table>
      <tbody>
        <tr>
          <td
            ><strong>Webhosting Zusammenfassung</strong><br />
            👥 Betroffene: Besucher der Website<br />
            🤝 Zweck: professionelles Hosting der Website und Absicherung des Betriebs<br />
            📓 Verarbeitete Daten: IP-Adresse, Zeitpunkt des Websitebesuchs, verwendeter Browser und weitere Daten. Mehr
            Details dazu finden Sie weiter unten bzw. beim jeweils eingesetzten Webhosting Provider.<br />
            📅 Speicherdauer: abhängig vom jeweiligen Provider, aber in der Regel 2 Wochen<br />
            ⚖️ Rechtsgrundlagen: Art. 6 Abs. 1 lit.f DSGVO (Berechtigte Interessen)</td
          >
        </tr>
      </tbody>
    </table>
    <h3>Was ist Webhosting?</h3>
    <p>
      Wenn Sie heutzutage Websites besuchen, werden gewisse Informationen – auch personenbezogene Daten – automatisch
      erstellt und gespeichert, so auch auf dieser Website. Diese Daten sollten möglichst sparsam und nur mit Begründung
      verarbeitet werden. Mit Website meinen wir übrigens die Gesamtheit aller Webseiten auf einer Domain, d.h. alles
      von der Startseite (Homepage) bis hin zur aller letzten Unterseite (wie dieser hier). Mit Domain meinen wir zum
      Beispiel beispiel.de oder musterbeispiel.com.
    </p>
    <p>
      Wenn Sie eine Website auf einem Computer, Tablet oder Smartphone ansehen möchten, verwenden Sie dafür ein
      Programm, das sich Webbrowser nennt. Sie kennen vermutlich einige Webbrowser beim Namen: Google Chrome, Microsoft
      Edge, Mozilla Firefox und Apple Safari. Wir sagen kurz Browser oder Webbrowser dazu.
    </p>
    <p>
      Um die Website anzuzeigen, muss sich der Browser zu einem anderen Computer verbinden, wo der Code der Website
      gespeichert ist: dem Webserver. Der Betrieb eines Webservers ist eine komplizierte und aufwendige Aufgabe,
      weswegen dies in der Regel von professionellen Anbietern, den Providern, übernommen wird. Diese bieten Webhosting
      an und sorgen damit für eine verlässliche und fehlerfreie Speicherung der Daten von Websites. Eine ganze Menge
      Fachbegriffe, aber bitte bleiben Sie dran, es wird noch besser!
    </p>
    <p>
      Bei der Verbindungsaufnahme des Browsers auf Ihrem Computer (Desktop, Laptop, Tablet oder Smartphone) und während
      der Datenübertragung zu und vom Webserver kann es zu einer Verarbeitung personenbezogener Daten kommen. Einerseits
      speichert Ihr Computer Daten, andererseits muss auch der Webserver Daten eine Zeit lang speichern, um einen
      ordentlichen Betrieb zu gewährleisten.
    </p>
    <h3>Warum verarbeiten wir personenbezogene Daten?</h3>
    <p>Die Zwecke der Datenverarbeitung sind:</p>
    <ol>
      <li>Professionelles Hosting der Website und Absicherung des Betriebs</li>
      <li>zur Aufrechterhaltung der Betriebs- und IT-Sicherheit</li>
      <li>
        Anonyme Auswertung des Zugriffsverhaltens zur Verbesserung unseres Angebots und ggf. zur Strafverfolgung bzw.
        Verfolgung von Ansprüchen
      </li>
    </ol>
    <h3>Welche Daten werden verarbeitet?</h3>
    <p>
      Auch während Sie unsere Website jetzt gerade besuchen, speichert unser Webserver, das ist der Computer auf dem
      diese Webseite gespeichert ist, in der Regel automatisch Daten wie
    </p>
    <ul>
      <li>die komplette Internetadresse (URL) der aufgerufenen Webseite</li>
      <li>Browser und Browserversion (z. B. Chrome 87)</li>
      <li>das verwendete Betriebssystem (z. B. Windows 10)</li>
      <li>
        die Adresse (URL) der zuvor besuchten Seite (Referrer URL) (z. B. <a
          href="https://www.beispielquellsite.de/vondabinichgekommen/"
          target="_blank"
          rel="follow noopener">https://www.beispielquellsite.de/vondabinichgekommen/</a
        >)
      </li>
      <li>
        den Hostnamen und die IP-Adresse des Geräts von welchem aus zugegriffen wird (z. B. COMPUTERNAME und
        194.23.43.121)
      </li>
      <li>Datum und Uhrzeit</li>
      <li>in Dateien, den sogenannten Webserver-Logfiles</li>
    </ul>
    <h3>Wie lange werden Daten gespeichert?</h3>
    <p>
      In der Regel werden die oben genannten Daten zwei Wochen gespeichert und danach automatisch gelöscht. Wir geben
      diese Daten nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem
      Verhalten von Behörden eingesehen werden.
    </p>
    <p>
      <strong>Kurz gesagt:</strong> Ihr Besuch wird durch unseren Provider (Firma, die unsere Website auf speziellen Computern
      (Servern) laufen lässt), protokolliert, aber wir geben Ihre Daten nicht ohne Zustimmung weiter!
    </p>
    <h3>Rechtsgrundlage</h3>
    <p>
      Die Rechtmäßigkeit der Verarbeitung personenbezogener Daten im Rahmen des Webhosting ergibt sich aus Art. 6 Abs. 1
      lit. f DSGVO (Wahrung der berechtigten Interessen), denn die Nutzung von professionellem Hosting bei einem
      Provider ist notwendig, um das Unternehmen im Internet sicher und nutzerfreundlich präsentieren und Angriffe und
      Forderungen hieraus gegebenenfalls verfolgen zu können.
    </p>
    <p>
      Zwischen uns und dem Hosting-Provider besteht in der Regel ein Vertrag über die Auftragsverarbeitung gemäß Art. 28
      f. DSGVO, der die Einhaltung von Datenschutz gewährleistet und Datensicherheit garantiert.
    </p>
    <h2 id="netlify-datenschutzerklaerung">Netlify Datenschutzerklärung</h2>
    <p>
      Wir verwenden für unsere Website den Webhosting-Anbieter Netlify. Dienstanbieter ist das amerikanische Unternehmen
      Netlify Inc., 2325 3rd Street, Suite 29, San Francisco, CA 94104, USA.
    </p>
    <p>
      Netlify verarbeitet Daten von Ihnen u.a. auch in den USA. Wir weisen darauf hin, dass nach Meinung des
      Europäischen Gerichtshofs derzeit kein angemessenes Schutzniveau für den Datentransfer in die USA besteht. Dies
      kann mit verschiedenen Risiken für die Rechtmäßigkeit und Sicherheit der Datenverarbeitung einhergehen.
    </p>
    <p>
      Als Grundlage der Datenverarbeitung bei Empfängern mit Sitz in Drittstaaten (außerhalb der Europäischen Union,
      Island, Liechtenstein, Norwegen, also insbesondere in den USA) oder einer Datenweitergabe dorthin verwendet
      Netlify sogenannte Standardvertragsklauseln (= Art. 46. Abs. 2 und 3 DSGVO). Standardvertragsklauseln (Standard
      Contractual Clauses – SCC) sind von der EU-Kommission bereitgestellte Mustervorlagen und sollen sicherstellen,
      dass Ihre Daten auch dann den europäischen Datenschutzstandards entsprechen, wenn diese in Drittländer (wie
      beispielsweise in die USA) überliefert und dort gespeichert werden. Durch diese Klauseln verpflichtet sich
      Netlify, bei der Verarbeitung Ihrer relevanten Daten, das europäische Datenschutzniveau einzuhalten, selbst wenn
      die Daten in den USA gespeichert, verarbeitet und verwaltet werden. Diese Klauseln basieren auf einem
      Durchführungsbeschluss der EU-Kommission. Sie finden den Beschluss und die entsprechenden Standardvertragsklauseln
      u.a. hier: <a href="https://eur-lex.europa.eu/eli/dec_impl/2021/914/oj?locale=de"
        >https://eur-lex.europa.eu/eli/dec_impl/2021/914/oj?locale=de</a
      >
    </p>
    <p>
      Netlify hält einen Vertrag über die Auftragsverarbeitung gemäß Art. 28 DSGVO bereit, der als datenschutzrechtliche
      Grundlage für unsere Kundenbeziehung zu Netlify fungiert. Dieser verweist inhaltlich auf die
      EU-Standardvertragsklauseln. Sie finden ihn hier: <a
        href="https://www.netlify.com/pdf/netlify-dpa.pdf"
        target="_blank"
        rel="follow noopener">https://www.netlify.com/pdf/netlify-dpa.pdf</a
      >
    </p>
    <p>
      Mehr über die Daten, die durch die Verwendung von Netlify verarbeitet werden, erfahren Sie in der Privacy Policy
      auf <a href="https://www.netlify.com/privacy/?tid=312262940">https://www.netlify.com/privacy/</a>.
    </p>
    <p>Alle Texte sind urheberrechtlich geschützt.</p>
    <p style="margin-top:15px">
      Quelle: Erstellt mit dem <a
        href="https://www.adsimple.de/datenschutz-generator/"
        title="Datenschutz Generator von AdSimple für Deutschland">Datenschutz Generator</a
      > von AdSimple
    </p>
  </main>
</Layout>
