---
import Layout from "../layouts/Layout.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout title="Marina Schmid Tier- und Pferdefotografie">
  <div class="-mx-4">
    <BackgroundImage>
      <div class="h-full pt-20 pb-12 px-6 bg-gradient-to-b from-transparent via-transparent to-white-100">
        <div class="flex flex-col justify-end h-96">
          <h1 class="text-base text-xl text-white-800 font-serif">Marina Schmid Fotografie</h1>
          <h2 class="text-5xl font-serif leading-tight text-white-900 mt-0.5">Momente für die Ewigkeit</h2>
        </div>
      </div>
    </BackgroundImage>
  </div>
  <main><AboutMe /></main>
</Layout>
