---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
/* import { Picture } from "@astrojs/image/components"; */
import BackgroundImage from "../components/BackgroundImage.astro";
---

<Layout title="Welcome to Astro.">
  <header></header>
  <BackgroundImage><div>Servus du Oarschlinger</div></BackgroundImage>
  <main></main>
  <footer></footer>
</Layout>
