---
import Layout from "../layouts/Layout.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import Card from "../components/Card.astro";
import { cards } from "../data/cards";
import { Picture } from "astro-imagetools/components";
---

<Layout title="Marina Schmid Hunde- und Pferdefotografie">
  <div class="-mx-4 max-w-screen-2xl 2xl:mx-auto">
    <BackgroundImage>
      <div class="h-full pt-20 pb-12 px-6 bg-gradient-to-b from-transparent via-transparent to-white-900/30">
        <div class="container mx-auto flex flex-col justify-end h-96 min-h-[70vh]">
          <h1 class="text-base text-xl text-white-50 font-serif m-0">Marina Schmid Fotografie</h1>
          <h2 class="text-5xl font-serif leading-tight text-white-50 mt-0.5 shadow-white">Momente für die Ewigkeit</h2>
        </div>
      </div>
    </BackgroundImage>
  </div>
  <main class="container mx-auto">
    <h1 class="text-center">Über mich</h1>
    <div class="flex flex-col sm:flex-row sm:space-x-4 items-center justify-center m-auto max-w-4xl md:space-x-8">
      <div class="mb-6 border border-white-900 p-1 max-w-md sm:w-1/2">
        <Picture
          src="/src/images/marina-schmid.jpeg"
          alt="Marina Schmid Portrait"
          breakpoints={{ count: 8, minWidth: 340, maxWidth: 1350 }}
          sizes="438px"
        />
      </div>
      <div class="sm:flex-1 sm:max-w-[50%]">
        <p class="text-center text-2xl mb-1 font-serif">Hi,</p>
        <p class="lg:text-lg">
          ich heiße Marina und bin eine professionelle Pferde- und Hundefotografin. Als kreative Person, die die Natur
          liebt, liebe ich es, bleibende Erinnerungen durch Fotografie zu schaffen. Fotografie und Pferde sind meine
          wahre Leidenschaft. Schließlich habe ich diese Leidenschaft zu meinem Beruf gemacht - dies möchte ich mit
          meinen Bildern zum Ausdruck bringen. Ich liebe es, bleibende Erinnerungen zu schaffen, die schönsten Momente
          festzuhalten. Momente für die Ewigkeit.
        </p>
        <div class="text-right mt-4">
          <Picture src="/src/images/marina_signature.png" alt="Marina Schmid Logo" sizes="240px" />
        </div>
      </div>
    </div>

    <div class="mt-8 flex flex-col md:flex-row md:space-x-4">
      {cards.map((card) => <Card headline={card.headline} text={card.text} ctaText={card.ctaText} link={card.link} />)}
    </div>
  </main>
  <!-- TODO: ist überall <main>? -->
</Layout>
