---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
/* import { Picture } from "@astrojs/image/components"; */
import BackgroundImage from "../components/BackgroundImage.astro";
import "@fontsource/lora";
---

<Layout title="Marina Schmid Tier- und Pferdefotografie">
  <header></header>
  <BackgroundImage>
    <div
      class="container mx-auto h-full pt-60 pb-12 px-6 bg-gradient-to-b from-transparent via-transparent to-gray-100"
    >
      <div
        class="flex flex-col justify-end h-96 md:items-end mx-auto md:space-x-24 space-y-12 md:space-y-0 md:flex-row"
      >
        <h2 class="text-5xl font-heading leading-tight text-black">Momente für die Ewigkeit</h2>
      </div>
    </div>
  </BackgroundImage>
  <main class="bg-gray-100">
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quis repudiandae, reiciendis hic inventore nam
      temporibus quos laboriosam, suscipit sequi, et iusto! Consequatur, sapiente recusandae tempora et consequuntur
      sequi facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis earum tempore voluptas nam, fuga
      asperiores aut fugiat explicabo vel dicta, alias cumque maiores quia incidunt voluptate. Natus dolorem voluptatum
      itaque?
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quis repudiandae, reiciendis hic inventore nam
      temporibus quos laboriosam, suscipit sequi, et iusto! Consequatur, sapiente recusandae tempora et consequuntur
      sequi facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis earum tempore voluptas nam, fuga
      asperiores aut fugiat explicabo vel dicta, alias cumque maiores quia incidunt voluptate. Natus dolorem voluptatum
      itaque?
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quis repudiandae, reiciendis hic inventore nam
      temporibus quos laboriosam, suscipit sequi, et iusto! Consequatur, sapiente recusandae tempora et consequuntur
      sequi facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis earum tempore voluptas nam, fuga
      asperiores aut fugiat explicabo vel dicta, alias cumque maiores quia incidunt voluptate. Natus dolorem voluptatum
      itaque?
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quis repudiandae, reiciendis hic inventore nam
      temporibus quos laboriosam, suscipit sequi, et iusto! Consequatur, sapiente recusandae tempora et consequuntur
      sequi facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis earum tempore voluptas nam, fuga
      asperiores aut fugiat explicabo vel dicta, alias cumque maiores quia incidunt voluptate. Natus dolorem voluptatum
      itaque?
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quis repudiandae, reiciendis hic inventore nam
      temporibus quos laboriosam, suscipit sequi, et iusto! Consequatur, sapiente recusandae tempora et consequuntur
      sequi facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis earum tempore voluptas nam, fuga
      asperiores aut fugiat explicabo vel dicta, alias cumque maiores quia incidunt voluptate. Natus dolorem voluptatum
      itaque?
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quis repudiandae, reiciendis hic inventore nam
      temporibus quos laboriosam, suscipit sequi, et iusto! Consequatur, sapiente recusandae tempora et consequuntur
      sequi facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis earum tempore voluptas nam, fuga
      asperiores aut fugiat explicabo vel dicta, alias cumque maiores quia incidunt voluptate. Natus dolorem voluptatum
      itaque?
    </div>
    <!--     <section class="portfolio">
      <div class="gap-8 columns-3">
        <img class="w-full aspect-auto" src="src/images/MU2_7262.png" />
        <img class="w-full aspect-auto" src="src/images/MU2_7262.png" />
        <img class="w-full aspect-auto" src="src/images/MU2_8451.png" />
        <img class="w-full aspect-auto" src="src/images/MU2_8451.png" />
        <img class="w-full aspect-auto" src="src/images/MU2_8451.png" />
        <img class="w-full aspect-auto" src="src/images/MU2_7262.png" />
      </div>
    </section> -->
  </main>
  <footer></footer>
</Layout>
<!-- Beispiel https://safetyalliancebc.ca/makeitsafe/?ref=builtwithtailwind.com -->
