---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro-imagetools/components";
import fs from "fs";
const portfolioPath = "src/images/portfolio";
const imageFiles = fs.readdirSync(portfolioPath).filter((file) => {
  return /.png|.jpg|.jpeg/.test(file);
});
console.log(imageFiles);
---

<Layout title="Portfolio | Marina Schmid Tier- und Pferdefotografie">
  <div class="columns-2 md:columns-3">
    {
      imageFiles.map((imagefile) => {
        return <Picture src={`/${portfolioPath}/${imagefile}`} alt="" />;
      })
    }
  </div>
</Layout>

<!-- <div class="relative mb-4">
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/1" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/2" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/3" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/4" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/5" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/6" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/7" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/8" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/9" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/10" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/11" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/12" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/13" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/14" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="inline-block relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/15" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/16" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/17" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/18" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/19" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/20" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/21" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/22" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/23" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/24" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div>

    <div
      class="relative mb-4 before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
    >
      <img class="w-full rounded-md" src="https://source.unsplash.com/random/25" />
      <div class="test__body absolute inset-0 p-8 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="/"></a>
          <h1 class="test__title text-3xl font-bold mb-3">Title post</h1>
          <p class="test__author font-sm font-light">Author</p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black">#tag</span>
        </div>
      </div>
    </div> -->
