---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro-imagetools/components";
import fs from "fs";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import Heading from "../components/Heading.astro";
const portfolioPath = "src/images/portfolio";
const imageFiles = fs.readdirSync(portfolioPath).filter((file) => {
  return /.png|.jpg|.jpeg/.test(file);
});
---

<Layout title="Portfolio">
  <main class="container mx-auto mt-24">
    <Heading heading="Portfolio" />
    <div class="columns-1 md:columns-2 gap-8">
      {
        imageFiles.map((imagefile) => {
          return (
            <div class="mb-8 border border-white-900 p-1">
              <Picture
                src={`/${portfolioPath}/${imagefile}`}
                alt={`${imagefile
                  .replace(/\d{4}-/, "")
                  .replace(/\.\w{3}/, "")
                  .replace("_", " ")}`}
                breakpoints={{ count: 8, minWidth: 320, maxWidth: 1920 }}
                sizes="(min-width: 768px) 50vw, 100vw"
              />
            </div>
          );
        })
      }
    </div>
    <div class="mt-16">
      <ButtonPrimary text="Erfahre die Story hinter den Bildern" link="/stories" />
    </div>
  </main>
</Layout>
