---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro-imagetools/components";
import fs from "fs";
const portfolioPath = "src/images/portfolio";
const imageFiles = fs.readdirSync(portfolioPath).filter((file) => {
  return /.png|.jpg|.jpeg/.test(file);
});
---

<Layout title="Portfolio | Marina Schmid Tier- und Pferdefotografie">
  <section class="section">
    <h1 class="text-center">Portfolio</h1>
    <div class="columns-1 sm:columns-2 gap-4">
      <!-- TODO: ALT TAG -->
      {
        imageFiles.map((imagefile) => {
          return (
            <div class="mb-4 border border-white-900 p-1">
              <Picture
                src={`/${portfolioPath}/${imagefile}`}
                alt={imagefile}
                breakpoints={{ count: 12, minWidth: 320, maxWidth: 1920 }}
                sizes="(min-width: 640px) 50vw, 100vw"
              />
            </div>
          );
        })
      }
    </div>
  </section>
</Layout>
