---
import Card from "./Card.astro";
import { cards } from "../data/cards";
---

<section class="section">
  <h1 class="text-center">Über mich</h1>
  <div class="mb-6 border border-white-900 p-1">
    <!-- TODO: asdf -->
    <img src="https://picsum.photos/400/400?random=1" />
  </div>
  <div class="">
    <p class="text-center text-2xl mb-1 font-serif">Hi,</p>
    <p>
      ich heiße Marina und bin eine professionelle Pferde- und Hundefotografin. Als kreative Person, die die Natur
      liebt, liebe ich es, bleibende Erinnerungen durch Fotografie zu schaffen. Fotografie und Pferde sind meine wahre
      Leidenschaft. Schließlich habe ich diese Leidenschaft zu meinem Beruf gemacht - dies möchte ich mit meinen Bildern
      zum Ausdruck bringen. Ich liebe es, bleibende Erinnerungen zu schaffen, die schönsten Momente festzuhalten.
      Momente für die Ewigkeit.
    </p>
  </div>
  {cards.map((card) => <Card src={card.src} headline={card.headline} text={card.text} ctaText={card.ctaText} />)}
</section>
