---
import ButtonPrimary from "./ButtonPrimary.astro";
---

<section class="section">
  <h2 class="text-center">Über mich</h2>
  <div class="mb-6 border border-white-900 p-1">
    <img src="https://picsum.photos/400/400?random=1" />
  </div>
  <div class="">
    <p class="text-center text-2xl mb-1 font-serif">Hi, ich bin Marina</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quis repudiandae, reiciendis hic inventore nam
      temporibus quos laboriosam, suscipit sequi, et iusto! Consequatur, sapiente recusandae tempora et consequuntur
      sequi facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis earum tempore voluptas nam, fuga
      asperiores aut fugiat explicabo vel dicta, alias cumque maiores quia incidunt voluptate. Natus dolorem voluptatum
      itaque?
    </p>

    <ButtonPrimary text="Mein Portfolio" icon="mdi:arrow-right-thick" link="/portfolio" />
  </div>
</section>
