---
const { text, link, icon = false } = Astro.props;
import { Icon } from "astro-icon";
---

<a
  href={link}
  class="bg-colored-800 w-full text-white-50 bold px-8 py-3 rounded my-6 text-l active:bg-colored-900 transition-all flex justify-center items-center"
  >{text} {icon !== false && <Icon class="w-8 ml-4" name="mdi:arrow-right-thick" />}
</a>
