---
import { Picture } from "astro-imagetools/components";
const { imagePath, image, link } = Astro.props;
console.log(imagePath, image, link);
---

<a
  rel="prefetch"
  href={link}
  class="mb-8 md:mb-0 flex flex-col bg-colored-50 text-colored-900 hover:bg-colored-100 transition-colors"
>
  <Picture
    src={`/${imagePath}/${image[0]}`}
    alt={`${image[0]
      .replace(/\d{4}-/, "")
      .replace(/\.\w{3}/, "")
      .replaceAll("_", " ")
      .replaceAll("-", " ")}`}
    breakpoints={{ count: 8, minWidth: 350, maxWidth: 1920 }}
    sizes="(min-width: 768px) 50vw, (min-width: 1024px) 33vw, 100vw"
  />
  <div class="p-4 flex flex-col h-full">
    <slot />
  </div>
</a>
