---
import instagram from "../images/icons/instagram.svg";
---

<footer class="-mx-4 px-4 mt-24 py-4 bg-colored-100">
  <ul
    class="grid grid-cols-1 md:flex text-center divide-y md:divide-y-0 md:divide-x divide-colored-400 items-center justify-center"
  >
    <li class="p-4">
      <a class="flex flex-col" href="https://www.instagram.com/marinullu/" target="_BLANK" class="block p-3.5">
        <img src={instagram} alt="Instagram Logo" class="w-8 m-auto" />
        <div class="hover:text-colored-900 transition-colors text-xs font-serif text-white-900 mt-1">
          Folge mir auf Instagram
        </div>
      </a>
    </li>
    <li class="p-4">
      <a class="hover:text-colored-900 transition-colors" href="/datenschutz">Datenschutz</a>
    </li>
    <li class="p-4">
      <a class="hover:text-colored-900 transition-colors" href="/impressum">Impressum</a>
    </li>
  </ul>
</footer>
