---
import instagram from "../images/instagram.svg";
---

<footer class="-mx-4 px-4 mt-12 pt-8 bg-white-200">
  <ul
    class="grid grid-cols-1 text-center divide-y divide-white-400/80 items-center justify-center divide-y divide-white-200"
  >
    <li class="p-4">
      <a class="flex flex-col" href="https://www.instagram.com/marinullu/" target="_BLANK" class="block p-3.5">
        <p class="text-sm font-serif text-white-900">Folge mir auf Instagram</p>
        <img src={instagram} alt="Instagram Logo" class="w-8 m-auto" />
      </a>
    </li>
    <li class="p-4">
      <a href="/datenschutz">Datenschutz</a>
    </li>
    <li class="p-4">
      <a href="/impressum">Impressum</a>
    </li>
  </ul>
</footer>
