<button
  id="menu-button"
  data-collapse-toggle="navbar-default"
  type="button"
  class="menu-icon ml-auto inline-flex items-center text-sm text-gray-500 rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200 w-12 h-12 relative cursor-pointer"
  aria-controls="navbar-default"
  aria-expanded="false"
>
  <input class="menu-icon__cheeckbox block w-full h-full block z-10 absolute opacity-0" type="checkbox" />
  <div class="m-auto absolute inset-0 w-6 h-3">
    <span class="absolute block w-full h-0.5 bg-black rounded-sm transition-all duration-300 top-0"></span>
    <span class="absolute block w-full h-0.5 bg-black rounded-sm transition-all duration-300 bottom-0"></span>
  </div>
  <span class="sr-only">Main Menu öffnen</span>
</button>

<style>
  .menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
    transform: rotate(45deg);
    top: 5px;
  }
  .menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
  }
  .menu-icon.active:hover span:first-of-type,
  .menu-icon.active:hover span:last-of-type,
  .menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
  .menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
    width: 24px;
  }
</style>
