---
import Divider from "./Divider.astro";

const { heading } = Astro.props;
---

<div class="text-center mt-16 mb-8">
  <h1>{heading}</h1>
  <div class="m-auto mt-2 flex gap-2 justify-center">
    <div class="w-2 h-2 bg-colored-600 rounded-full"></div>
    <div class="w-2 h-2 bg-colored-600 rounded-full"></div>
    <div class="w-2 h-2 bg-colored-600 rounded-full"></div>
  </div>
</div>
