---
import Hamburger from "./Hamburger.astro";
import Menu from "./Menu.astro";
import { Picture } from "astro-imagetools/components";
---

<header class="header border-b border-colored-200 fixed top-0 z-50 w-full -mx-4 bg-white-50">
  <nav
    class="md:container mx-auto bg-white-50 grid grid-cols-4 md:flex items-center max-h-12 relative md:px-8 md:py-4"
    id="navbar"
  >
    <div class="col-start-2 col-span-2 md:col-start-1 md:col-span-1 m-auto md:m-0 max-h-10">
      <a href="/">
        <Picture
          src="/src/images/marina_schmid_logo.png"
          alt="Marina Schmid Logo"
          width={140}
          breakpoints={{ count: 3, minWidth: 140, maxWidth: 420 }}
          sizes="140px"
          layout="fullWidth"
        />
      </a>
    </div>
    <Hamburger />
    <Menu menuItems={["Home", "Portfolio", "Informationen", "Kontakt"]} />
  </nav>
</header>
<script>
  const navbar = document.querySelector("#navbar");
  navbar.querySelector("#menu-button").addEventListener("click", () => {
    navbar.querySelector("#menu").classList.toggle("-translate-y-full");
    navbar.querySelector("#menu ul").classList.toggle("opacity-0");
  });
</script>
