---
import { SEO } from "astro-seo";
import Header from "../components/Header.astro";
import "@fontsource/lora";
import "@fontsource/inter";
import Footer from "../components/Footer.astro";
const {
  title,
  description = "Hunde- und Pferdefotografie aus Peiting in Oberbayern und Umgebung. Ich liebe Tiere, meine Kamera und die Natur. Deine Momente für die Ewigkeit.",
} = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, import.meta.env.PUBLIC_DOMAIN);
---

<!-- TODO: Twitter SEO usw., das OG zeugsl --><!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <SEO
      title={`${title} | Marina Schmid Hunde- und Pferdefotografie aus Peiting`}
      description={description}
      canonical={canonicalURL.href}
      extend={{
        link: [{ rel: "icon", href: "/favicon.svg" }],
        meta: [{ name: "viewport", content: "width=device-width, initial-scale=1" }],
      }}
    />
  </head>
  <body class="bg-white-50">
    <div class="menu-overlay hidden fixed top-0 w-full h-full bg-white-900/50 z-20"></div>
    <div class="mt-12 px-4">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
