---
import { SEO } from "astro-seo";
import Header from "../components/Header.astro";
import "@fontsource/lora";
import "@fontsource/inspiration";
import Footer from "../components/Footer.astro";
const {
  title,
  description = "Hunde- und Pferdefotografie aus Leidenschaft. Ich liebe Tiere, meine Kamera und die Natur. Deine Momente für die Ewigkeit.",
} = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, import.meta.env.PUBLIC_DOMAIN);
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <!-- TODO descriptions reinmachen -->
    <SEO
      title={title}
      description={description}
      canonical={canonicalURL.href}
      extend={{
        link: [{ rel: "icon", href: "/favicon.svg" }],
        meta: [{ name: "viewport", content: "width=device-width, initial-scale=1" }],
      }}
    />
  </head>
  <body class="mt-12 px-4 bg-white-50">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
