---
import Layout from "./Layout.astro";
import "@fontsource/lora/600.css";
---

<Layout title="Datenschutz | Marina Schmid Tier- und Pferdefotografie">
  <div class="legal pt-8 break-words">
    <slot />
  </div>
</Layout>
